<include file="Public/iframe_head"/>


<div class="page-content">

    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-header">
                        操作记录
                    </div>

                    <div class="table-responsive">
                        <table id="sample-table-2" class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th class="center">
                                    <label>
                                        <input type="checkbox" class="ace"/>
                                        <span class="lbl"></span>
                                    </label>
                                </th>
                                <th>ID</th>
                                <th>操作人id</th>
                                <th>操作人登录名</th>
                                <th>操作链接</th>
                                <th>操作信息</th>
                                <th>操作时间</th>
                            </tr>
                            </thead>

                            <tbody>

                            <!--数据start-->
                            <volist name="data" id="vo">
                                <tr>
                                    <td class="center">
                                        <label>
                                            <input type="checkbox" class="ace"/>
                                            <span class="lbl"></span>
                                        </label>
                                    </td>

                                    <td>
                                        <a href="#">{$vo.id}</a>
                                    </td>
                                    <td>{$vo.admin_id}</td>
                                    <td>{$vo.admin_id|getAdminUserName}</td>
                                    <td class="hidden-480">{$vo.url}</td>
                                    <td>{$vo.msg}</td>
                                    <td>{$vo.create_time|date="Y-m-d H:i:s",###}</td>
                                </tr>
                            </volist>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->

<script type="text/javascript">
    layui.use('form', function () {
        var form = layui.form();
    });
    function delMenu(id, name) {
        layer.confirm('确定要删除管理员[' + name + ']？', {
            btn: ['确定', '取消']
        }, function () {
            $.post("{:U('Admin/del')}", {'id': id}, function (res) {
                layer.alert(res.info);
                location.reload();
            });

        }, function () {

        });
    }

    jQuery(function ($) {
        var oTable1 = $('#sample-table-2').dataTable({
            "aoColumns": [
                {"bSortable": false},
                null, null, null, null, null,
                {"bSortable": false}
            ]
        });


        $('table th input:checkbox').on('click', function () {
            var that = this;
            $(this).closest('table').find('tr > td:first-child input:checkbox')
                .each(function () {
                    this.checked = that.checked;
                    $(this).closest('tr').toggleClass('selected');
                });

        });


        $('[data-rel="tooltip"]').tooltip({placement: tooltip_placement});
        function tooltip_placement(context, source) {
            var $source = $(source);
            var $parent = $source.closest('table')
            var off1 = $parent.offset();
            var w1 = $parent.width();

            var off2 = $source.offset();
            var w2 = $source.width();

            if (parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2)) return 'right';
            return 'left';
        }
    })
</script>


</body>
</html>
