body{
	background-color: #fff;
	font-size: 16px;
	font-family: "Microsoft YaHei";
}
a:link{
	text-decoration:none;
}
.head{
    font-size: 16px;
    color: #000000;
    line-height: 42px;
    background-color: #40A0D4;
    text-align: center;
}
.head .back{
	font-size: 24px;
    margin-left: 5%;
    color: #fff;
    float: left;
}

.head span{
	color: #fff;
}

.head .submit{
	margin-right: 5%;
	float: right;
	color: #fff;
}
.content{
}
.content input{
	width: 100%;
	height: 42px;
	border-top:1px solid #BEBEBE;
	border-bottom:1px solid #BEBEBE;
	border-left: 0px;
	border-right: 0px;
    padding-left: 5%;
}
.content textarea{
	width: 90%;
    margin-left: 5%;
	border:1px solid #BEBEBE;
}
.content div span{
    line-height: 35px;
    margin-left: 5%;
}
.problem{
	position: relative;
}
.problem .wordwrap{
    position: absolute;
    right: 6%;
    bottom: 0px;
    color: #6C6C6C;
}
