body{
	font-family: "Microsoft YaHei";
	font-size: 12px;
	width:100%;
}
a:link{
    text-decoration:none;
}
/*首页/贷款页*/
.head_div{
	width: 100%;
	min-height: 170px;
}


.head_div .card_div{
    top: 15px;
    width: 90%;
    height: 143px;
    position: absolute;
    left: 5%;
    border-radius:5px;
}
.card_div .card_logo{
	height: 40px;
    left: 12px;
    position: absolute;
    top: 12px;
    border-radius: 5px;
}
.card_div .card_name{
	position: absolute;
    left: 55px;
    top: 12px;
}
.card_div .card_name span{
	font-family: "Microsoft YaHei";
	color: #fff;
}
.card_name_span1{
	font-size: 16px;
}
.card_name_span2{
	font-size: 12px;
}
.card_div .card_edu{
	text-align: right;
	margin-top: 52px;
	margin-right: 8px;
	color:#fff;
	font-family: "Microsoft YaHei";
}
.card_edu .edu{
	font-weight:bold;
	font-size: 35px;
}
.card_edu .edu_fh{
    font-size: 18px;
}
.card_edu .edu_text{
	font-size: 12px;
}
.card_div .card_hr{
	margin-top: 5px;
    border-color: #40A0D4;
    width: 99%;
}
.card_div .card_info{
	position: absolute;
    top: 115px;
    width: 100%;
    font-size: 12px;
    color: #fff;
}
.card_info .card_num{
	margin-left: 8px;
}
.card_info .card_jkcs{
    margin-right: 8px;
    float: right;
}
.card_div .card_auth{
    margin-top: 12px;
    margin-right: 8px;
    background-color: #1C1C1C;
    color: #fff;
    position: absolute;
    right: 0;
    top:0;
    border-radius: 10px;
    width: 70px;
    text-align: center;
}
.content{
	width: 100%;
	background-color: #fff;
}
.cont_title span{
	line-height: 30px;
    margin-left: 20px;
    font-weight:bold;
}
.cont_table_l{
	width: 50%;
	float: left;
	text-align: center;
	border-top: 1px solid #E3E3E3;
	border-right: 1px solid #E3E3E3;
	border-bottom: 1px solid #E3E3E3;
	height: 55px;
}
.cont_table_r{
	width: 50%;
	float: left;
	text-align: center;
	border-top: 1px solid #E3E3E3;
	border-bottom: 1px solid #E3E3E3;
	height: 55px;
}
.cont_text{
	color: #696969;
    line-height: 55px;
}
.cont_mtext{
	font-size: 18px;
	font-family: "Arial";
	color: #000;
}
.cont_display{
	height: 55px;
}
.btn_activation{
	width: 100%;
	background-color: #40A0D4;
	color: #fff;
	font-size: 20px;
	border: none;
	height: 42px;
}
.btn_borrow{
    width: 80%;
	margin: 50px auto 0;
	display:block;
    background-color: #40A0D4;
    color: #fff;
    font-size: 20px;
    border: none;
    height: 42px;
}
.strip_display{
	margin-top: 20px;
	text-align: right;
    margin-right: 5%;
    margin-left: 5%;
}
.strip_main{
    width: 90%;
    margin: 14px auto;
}
.strip_range{
	margin-top: 12px;
    width: 90%;
    margin: 12px auto;
}
/*登录页*/
.big_head{
	height: 170px;
}
.big_head .head-nav{
/*	border-bottom:1px solid #999999;*/
}
.big_head .head-nav a{
    font-size: 28px;
    margin-left: 18px;
    line-height: 45px;
    color: #999999;
}
.big_head .head_logo{
	text-align: center;
    height: 150px;
}
.big_head .head_logo img{
	height: 100px;
  
	border:1px solid #EDEDED;
	border-radius:10px;
}
.input_item{
	width: 90%;
	margin: 0 auto;
	border-bottom: 1px solid #EDEDED;
    line-height: 45px;
}
.input_item i{
	width: 5%;
	color: #40A0D4;
	margin-bottom: 0px;
}
.input_item input{
	width: 80%;
/*    line-height: 30px;*/
	font-size: 16px;
	color: #8B8989;
	border: none;
    margin-left: 10px;
    height: 40px;
}
.input_item .forget_password{
	color: #40A0D4;
    float: right;
    border-left: 1px solid #EDEDED;
    height: 25px;
    line-height: 25px;
    margin-top: 10px;
}
.login_Btn{
    display: block;
    width: 90%;
    background-color: #40A0D4;
    color: #fff;
    margin: 25px auto;
    font-size: 24px;
    text-align: center;
    border-radius: 3px;
    height: 40px;
    line-height: 40px;
}
.reg_Btn{
    display: block;
    width: 90%;
    background-color: #40A0D4;
    color: #fff;
    margin: 25px auto;
    font-size: 24px;
    text-align: center;
    border-radius: 3px;
    height: 40px;
    line-height: 40px;
}
.cont_link{
	width: 90%;
	margin: 25px auto;
}
.cont_link .user_reg_link{
	color: #40A0D4;
	font-size: 14px;
}
.cont_link .feedback{
	color: #999999;
	float: right;
	font-size: 14px;
}
.foot_xieyi{
    bottom: 0px;
    position: fixed;
    text-align: center;
    width: 100%;
    color: #999999;
}
.foot_xieyi a{
	color: #40A0D4;
}
.codeView .inlineBtn_div botton{
	width: 45%;
    line-height: 45px;
    font-size: 18px;
    color: #fff;
    margin: 10px auto;
	border-radius: 6px;
}
.codeView .inlineBtn_div{
    width: 100%;
    display: flex;
    text-align: center;
}
/*认证中心*/
.auth_item{
    line-height: 65px;
    border-bottom: 1px solid #EDEDED;
    background-color: #fff;
    list-style: none;
}
.auth_item div{
    display: inline;
}
.auth_item_status{
    float: right;
    margin-right: 12px;
    color: #40A0D4;
}
.auth_item_icon{
    margin-left: 12px;
}
.auth_item_title{
    margin-left: 5px;
    color: #000;
/*    font-weight: bold;*/
}
.icon-b{
    text-align: center;
    color: #40A0D4;
}
.auth_status_true{
    color: #5B5B5B;
}
.auth_info{
  
    background-color: #fff;
}
.auth_info ul{
    padding:0;
}
.auth_info .info_li{
    list-style: none;
    border-top: 1px solid #EDEDED;
    width: 100%;
    line-height: 38px;
}
.auth_info .info_li span{
    margin-left: 12px;
    width: 30%
}
.auth_info .info_li input{
    margin-left: 10px;
    width: 65%;
    border: none;
    height: 35px;
}
.auth_info .info_photo_li{
    list-style: none;
    border-top: 1px solid #EDEDED;
    width: 100%;
    line-height: 100px;
    position: relative;
    height: 100px;
}
.auth_info .info_photo_li span{
    margin-left: 12px;
    width: 30%
}
.auth_info .info_photo_li .text_sm{
    position: absolute;
    font-size: 10px;
    top: 20px;
    left: 7px;
}
.auth_info .info_photo_li .text_bg{
    display: block;
    float: none;
}
.auth_info .info_photo_li .photo_show{
    position: absolute;
    left: 55%;
    top: 10px;
}
.photo_show input{
    display: none;
}
.auth_info .info_photo_li .photo_show .photo_img{
    position: absolute;
    width: 130px;
    right: 0px;
    top: 0px;
    height: 80px;
    background-repeat:no-repeat;
    background-size:cover;
}
.auth_info .info_photo_li .photo_show i{
    z-index: 100;
    position: relative;
    right: 46px;
    background-color: #000;
    border: 1px solid #000;
    border-radius: 25px;
    color: #fff;
    text-align: center;
    padding-top: 5px;
    width: 45px;
    height: 45px;
    opacity: 0.7;
}
.info_alert{
    padding-top: 20px;
    background-color: #fff;
}

.info_alert div span{
    font-size:20px;
}
.info_alert_title{
    color: #40A0D4;
    text-align: center;
    line-height: 10px;
}
.info_alert span{
    font-size: 10px;
    text-align: center;
    display: block;
}
.auth_info .address{
    position: absolute;
    top: 0px;
    right: 10px;
    width: 65%;
    font-size: 16px;
    line-height: 22px;
    border: none;
    resize: none;
}
.info_li .view_span{
    font-size: 14px;
}
.borrow_ul{
    margin: 0 auto;
}
.borrow_ul .borrow_li{
    min-height: 85px;
    margin-top: 15px;
    background-color: #fff;
    border-top: 1px solid #DDDDDD;
    position: relative;
}
.borrow_li .view{
    position: absolute;
    bottom: 0px;
    border-top: 1px solid #DDDDDD;
    width: 100%;
}
.borrow_li .view span{
    float: left;
    margin-left: 10px;
    color: #696969;
}
.borrow_li .view i{
    float: right;
    margin-right: 10px;
    color: #696969;
}
.borrow_li .order_time{
    position: absolute;
    right: 22px;
    bottom: 3px;
    font-size: 13px;
}
.borrow_li .icon{
    position: absolute;
    left: 12px;
    top: 6px;
    font-size: 2em;
    color: #40A0D4;
}
.borrow_li .orderNum{
    position: absolute;
    right: 10px;
}
.borrow_li .info{
    right: 18px;
    top: 28px;
    position: absolute;
    font-size: 18px;
}
.borrow_li .info .bm{
    color: #40A0D4;
}
.page{
    margin-top: 18px;
    text-align: center;
}
.page a{
    border: 1px solid #40A0D4;
    background: #40A0D4;
    color: #fff;
    padding: 0 8px;
    margin: 8px 8px 0 0;
    overflow: hidden;
    vertical-align: top;
    display: inline-block;
    height: 25px;
    line-height: 23px;
}
.page .current{
    display: inline-block;
    height: 25px;
    line-height: 23px;
    padding: 0 8px;
    margin: 8px 8px 0 0;
    background: #fff;
    border: 1px solid #e5e5e5;
    overflow: hidden;
    vertical-align: top;
    color: #e5e5e5;
}