<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <include file="Public/head"/>
    <title>{:C('site_title')}</title>
    <link rel="stylesheet" href="/Public/css/slider.css"/>
    <script>
        var minMoney = 500;
        var maxMoney = 10000;
        var stepMoney = 100;
        var minDay = 7;
        var maxDay = 14;
        $(function () {
            $(".head_div .card_div").on('click', function () {
                window.location.href = "{:U('User/login')}";
            });
            $(".btn_borrow").on('click', function () {
                window.location.href = "{:U('User/login')}";
            });
        });
    </script>
    <script src="/Public/js/index.js"></script>
</head>
<body>

<div class="logo clearfix" style="margin:30px auto; padding:0; display:block; text-align:center">
    <img src="{:C('site_logo')}" width="80%">
</div>
<div class="content">

    <div class="cont_display">
        <div class="cont_table_l">
            <span class="cont_text">当前额度（元）</span>

            <span class="cont_mtext">{:nl_get_customConfig('min_money')}</span>
        </div>
        <div class="cont_table_r">
					<span class="cont_text">
借款期限 （天）</span>

            <span class="cont_mtext">{:nl_get_customConfig('min_day')}</span>
        </div>
    </div>
    <div class="cont_strip" style="margin-top: 50px;">
        <div class="cont_strip_money">

            <div class="strip_main">
                <input id="opt_money" type="range" value="{$user_info.quota}" min="{:nl_get_customConfig('min_money')}"
                       max="{:nl_get_customConfig('userquota')}"/>
            </div>
            <div class="strip_range">
                <span>{:nl_get_customConfig('min_money')}元</span>
                <span style="float: right;">{:nl_get_customConfig('userquota')}元</span>
            </div>
        </div>
        <div class="cont_strip_day">

            <div class="strip_main">
                <input id="opt_day" type="range" value="{:nl_get_customConfig('min_day')}"
                       min="{:nl_get_customConfig('min_day')}" max="{:nl_get_customConfig('max_day')}" step='5'/>
            </div>
            <div class="strip_range">
                <span>{:nl_get_customConfig('min_day')}天</span>
                <span style="float: right;">{:nl_get_customConfig('max_day')}天</span>
            </div>
        </div>
    </div>
    <button class="btn_borrow">立即激活</button>
</div>
<include file="Public/foot"/>
</body>
</html>