<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<include file="Public/head" />
	    <title>{:C('site_title')}</title>
		<link rel="stylesheet" href="/Public/css/slider.css" />
        

	    <script>
	    	var minMoney = {:nl_get_customConfig('min_money')};
	    	var maxMoney = {$user_info.quota};
	    	var stepMoney = {:nl_get_customConfig('step_money')};
	    	var minDay = {:nl_get_customConfig('min_day')};
	    	var maxDay = {:nl_get_customConfig('max_day')};
	    	$(function(){
	    		$(".head_div .card_div").on('click',function(){
	    			window.location.href = "{:U('User/index')}";
	    		});
	    		$(".btn_borrow").on('click',function(){
					layer.open({
						type: 2,
						shadeClose: false
					});
	    			$.post(
	    				"{:U('Loan/index')}",
	    				{
	    					money:$("#opt_money").val(),
	    					day  :$("#opt_day").val()
	    				},
	    				function(data){
	    					if(!data.status){
	    						layer.closeAll();
								layer.open({
									content:data.info,
									skin:'msg',
									time:3
								});
	    					}
	    					if(data.url){
	    						setTimeout(function(){
	    							window.location.href = data.url;
	    						},3000);
	    					}
	    				}
	    			);
	    		});
	    	});
	    </script>
	    <script src="/Public/js/index.js"></script>
	</head>
	<body>
		
	
        
        	<div class="head_div">
			<div class="card_div" style="text-align: center">
			<img src="{:C('site_logo')}" style="height:150px;">
				<div class="card_auth">
					<!--<span>认证 {$AuthStatus}/5 </span>-->
					<!--<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>-->
				</div>
				<!--<div class="card_edu">
					<span class="edu_text">信用额度</span>
					<span class="edu_fh">￥</span>
					<span class="edu">{$user_info.quota}</span>
				</div>
				-->
			</div>
		</div>
		<div class="content">

			<div class="cont_display">
				<div class="cont_table_l">
					<span class="cont_text">当前额度（元）</span>
				
					<span class="cont_mtext">{$user_info.quota}</span>
				</div>
				<div class="cont_table_r">
					<span class="cont_text">
借款期限 （天）</span>
		
					<span class="cont_mtext">{:nl_get_customConfig('min_day')}</span>
				</div>
			</div>
			<div class="cont_strip" style="margin-top: 50px;">
				<div class="cont_strip_money">
				
					<div class="strip_main">
						<input id="opt_money" type="range" value="{$user_info.quota}" min="{:nl_get_customConfig('min_money')}" max="{$user_info.quota}" />
					</div>
					<div class="strip_range">
						<span>{:nl_get_customConfig('min_money')}元</span>
						<span style="float: right;">{$user_info.quota}元</span>
					</div>
				</div>
				<div class="cont_strip_day">
		
					<div class="strip_main">
						<input id="opt_day" step="5" type="range" value="{:nl_get_customConfig('min_day')}" min="{:nl_get_customConfig('min_day')}" max="{:nl_get_customConfig('max_day')}" />
					</div>
					<div class="strip_range">
						<span>{:nl_get_customConfig('min_day')}天</span>
						<span style="float: right;">{:nl_get_customConfig('max_day')}天</span>
					</div>
				</div>
			</div>
			<button class="btn_borrow">立即申请借款</button>
		</div>
        
		<include file="Public/foot" />
	</body>
</html>