
<!doctype html>
<html>
<head>
<meta charset="utf-8">
	<include file="Public/head" />
<title>{:C('site_title')}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/Public/css/feedback.css" />
</head>

<body>
<div class="head">
	<a href="{:U('Auth/index')}" class="back">
		<i class="fa fa-angle-left"></i>
	</a>
	<span>芝麻认证</span>
	<!--<a href="javascript:;" class="submit">提交</a>-->
</div>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="jumbotron">
				<h1>
					<img src="/Public/img/zmxylogo.png"/>
				</h1>
				<p>
					请您在下方如实填写身份资料，以便更好查出您的信用情况！
				</p>
				<p>如果下方信息不正确，请返回身份认证。</p>
			</div>
			<form  action="{:U('Zmxy/auth')}" method="post">
				<div class="form-group">
					 <label for="exampleInputEmail1">姓名</label><input readonly type="text" class="form-control" id="exampleInputEmail1" name="name" value="{$idcard.name}"/>
                     <span id="nameerro" style="color:red"></span>
				</div>
				<div class="form-group">
					 <label for="exampleInputPassword1">身份证号码</label><input readonly type="text" class="form-control" id="exampleInputPassword1" name="carid" value="{$idcard.idcard}"/>
                     <span id="cariderro" style="color:red"></span>
				</div>
                <div class="form-group">
					 <label for="exampleInputmobile1">手机号码</label><input readonly type="text" class="form-control" id="exampleInputmobile1" name="mobile" value="{$user.mobile}"/>
                     <span id="mobileerro" style="color:red"></span>
				</div>
				<input type="submit" class="btn btn-lg btn-block" style="background-color: #40A0D4;color: #ffffff" name="submit" onClick="return check()" value="提交"/>
			</form> 
		</div>
	</div>
</div>
<script>
function check(){
	var name=document.getElementById('exampleInputEmail1').value;
	var carid=document.getElementById('exampleInputPassword1').value;
	var mobile=document.getElementById('exampleInputmobile1').value;
	if(name==""){
		document.getElementById('nameerro').innerHTML="姓名不能为空";
		return false;
	}else{
		document.getElementById('nameerro').innerHTML="";
	}
	if(carid==""){
		document.getElementById('cariderro').innerHTML="身份证不能为空";
		return false;

	}else{
		document.getElementById('cariderro').innerHTML="";
	}
	if(mobile==""){
		document.getElementById('mobileerro').innerHTML="手机号不能为空";
		return false;

	}
	if(!(/^1[34578]\d{9}$/.test(mobile))){ 
       document.getElementById('mobileerro').innerHTML="手机号格式不正确";  
        return false; 

    }else{
		document.getElementById('mobileerro').innerHTML="";
	}
}
</script>
<include file="Public/foot" />
</body>
</html>