<include file="Public/iframe_head"/>
<div id="page-layui-tab-content">
    <form method="post" action="{:U('Post/update',array('id'=>$post['id']))}">
        <div class="layui-form-item">
            <label class="layui-form-label">文章标题</label>
            <div class="layui-input-inline">
            <input type="text" name="title" class="layui-input" value="{$post.title}" id="post-title">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">文章分类</label>
            <div class="layui-input-inline">
            <select name="cate_id" id="post-cate" class="form-control">
                <foreach name="category" item="v">
                    <option value="{$v.id}" <?php if($post['cate_id'] == $v['id']) {echo 'selected="selected"' ;}?>>{$v.html} {$v.title}</option>
                </foreach>
            </select>
            </div>
        </div>
        <div class="form-group">
            <label for="post-content">文章内容</label>
            <script id="post-content" name="content" type="text/plain">{$post.content|htmlspecialchars_decode}</script>
        </div>
        <!--<div class="form-group">-->
            <!--<label>文章类型</label>-->
            <!--<label class="radio-inline">-->
              <!--<input type="radio" name="type" value="1" <if condition="$post.type eq 1">checked="checked"</if> >普通-->
            <!--</label>-->
            <!--<label class="radio-inline">-->
              <!--<input type="radio" name="type" value="2" <if condition="$post.type eq 2">checked="checked"</if>>置顶-->
            <!--</label>-->
            <!--<label class="radio-inline">-->
              <!--<input type="radio" name="type" value="3" <if condition="$post.type eq 3">checked="checked"</if>>热门-->
            <!--</label>-->
            <!--<label class="radio-inline">-->
              <!--<input type="radio" name="type" value="4" <if condition="$post.type eq 4">checked="checked"</if>>推荐-->
            <!--</label>-->
        <!--</div>-->
        <input type="hidden" name="id" value="{$post.id}">
        <div class="layui-form-item">
            <div class="layui-input-block" style="margin: 10px 0px 0px 0px">
                <button class="layui-btn" type="submit">确认修改</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
<!-- 配置文件 -->
<script type="text/javascript" src="/Public/ueditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="/Public/ueditor/ueditor.all.js"></script>
<!-- 实例化编辑器 -->
<script type="text/javascript">
    var ue = UE.getEditor('post-content',{
        toolbars: [
            ['fullscreen', 'source', 'undo', 'redo','bold', 'italic', 'underline','fontborder', 'strikethrough', '|','simpleupload', 'insertimage','attachment','emotion','link','unlink', '|', 'removeformat', 'formatmatch', 'autotypeset', 'blockquote','searchreplace', 'pasteplain', '|', 'forecolor', 'backcolor', 'insertorderedlist', 'insertunorderedlist', 'selectall', 'cleardoc'],
            ['inserttable','insertrow', 'insertcol','mergeright', 'mergedown','deleterow', 'deletecol','splittorows','splittocols', 'splittocells','deletecaption','inserttitle', 'mergecells', 'deletetable','insertparagraphbeforetable', 'paragraph','fontsize','fontfamily']
        ],
        initialFrameHeight:500,
        zIndex:100
    });
</script>
</body>
</html>