<include file="Public/iframe_head"/>


<div class="page-content">

    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-header" style="position:relative;">
                        会员管理
						<if condition="authCheck('Admin/User/excel',session(C('ADMIN_INFO'))['id'])">
						<div style="display:block;position:absolute;left:100px;top:0;">
                        <form action="{:U('User/index')}" target="_self" method="get">
                            <input type="submit" class="btn btn-success btn-sm tooltip-success" data-rel="tooltip"
                                  data-placement="left"  name="aliziExcel" value="导出excel">
                        </form>
						</div>
                        </if>
                    </div>

                    <div class="table-responsive">
                        <table id="sample-table-2" class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th class="center">
                                    <label>
                                        <input type="checkbox" class="ace"/>
                                        <span class="lbl"></span>
                                    </label>
                                </th>
                                <th>ID</th>
                                <th>姓名</th>
                                <th class="hidden-480">手机号</th>
                                <th>额度</th>
                                <th>日息</th>
                                <th class="hidden-480">贷款统计</th>
                                <th>状态</th>
                                <th>是否邀请</th>
                                <th>注册时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>

                            <tbody>

                            <!--数据start-->
                            <volist name="lists" id="vo">
                                <tr>
                                    <td class="center">
                                        <label>
                                            <input type="checkbox" class="ace"/>
                                            <span class="lbl"></span>
                                        </label>
                                    </td>

                                    <td>
                                        <a href="#">{$vo.id}</a>
                                    </td>
                                    <td>{$vo.name}</td>
                                    <td class="hidden-480">{$vo.mobile}</td>
                                    <td>{$vo.quota}</td>
                                    <td>{$vo.rate}%</td>
                                    <td class="hidden-480">
                                        <span class="label label-warning">成功:{$vo.borrow},失败:{$vo.fborrow},完成:{$vo.payment}</span>
                                    </td>
                                    <td>
                                        <if condition="$vo['status'] eq 1">
                                            正常
                                            <else/>
                                            风控
                                        </if>
                                    </td>
									<td>
                                        <if condition="$vo['is_yao'] eq 1">
                                            是
                                            <else/>
                                            否
                                        </if>
                                    </td>
                                    <td>{$vo.create_time|date='Y-m-d H:i:s',###}</td>
                                    <td>
                                        <div class="visible-md visible-lg hidden-sm hidden-xs action-buttons">

                                            <if condition="authCheck('Admin/User/viewAuth',session(C('ADMIN_INFO'))['id'])">
                                                <a class="blue" href="{:U('User/viewAuth',array('id'=>$vo['id']))}"
                                                   title="查看资料" target="_blank">
                                                    <i class="icon-zoom-in bigger-130"></i>
                                                </a>
                                            </if>

                                            <if condition="authCheck('Admin/User/resetRate',session(C('ADMIN_INFO'))['id'])">
                                                <a class="green resetRate" href="#" title="调整额度" dataid="{$vo.id}"
                                                   dataquota="{$vo.quota}" datarate="{$vo.rate}">
                                                    <i class="icon-pencil bigger-130"></i>
                                                </a>
                                            </if>

                                            <if condition="authCheck('Admin/User/resetStatus',session(C('ADMIN_INFO'))['id'])">
                                                <a class="pink resetStatus" href="#" title="更改状态" dataid="{$vo.id}">
                                                    <i class="icon-edit bigger-130"></i>
                                                </a>
                                            </if>

                                            <if condition="authCheck('Admin/User/printUser',session(C('ADMIN_INFO'))['id'])">
                                                <a class="yellow" href="{:U('User/printUser',array('id'=>$vo['id']))}" target="_blank" title="打印信息">
                                                    <i class="icon-print bigger-130"></i>
                                                </a>
                                            </if>

                                            <if condition="authCheck('Admin/User/delUser',session(C('ADMIN_INFO'))['id'])">
                                                <a class="red delUser" href="#" title="删除" dataid="{$vo.id}">
                                                    <i class="icon-trash bigger-130"></i>
                                                </a>
                                            </if>
                                        </div>
                                    </td>
                                </tr>
                            </volist>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->

<script type="text/javascript">
    layui.use('form', function () {
        var form = layui.form();
    });

    $(function () {
        $(".resetPass").on('click', function () {
            var uid = $(this).attr('dataid');
            layer.confirm('确定要重置会员密码？', {
                btn: ['确定', '取消']
            }, function () {
                $.ajax({
                    url: "{:U('User/resetPass')}",
                    type: 'post',
                    data: {
                        id: uid
                    },
                    success: function (data) {
                        if (!data.status) {
                            layer.msg("重置密码失败!");
                        } else {
                            layer.alert("密码重置成功,新密码:" + data.info);
                        }
                    }
                });
            });
        });
        $(".resetStatus").on('click', function () {
            var uid = $(this).attr('dataid');
            $(".resetStatusDiv form input[name='id']").val(uid);
            layer.open({
                type: 1,
                shade: false,
                title: false,
                content: $(".resetStatusDiv")
            });
        });
        $(".resetRate").on('click', function () {
            var uid = $(this).attr('dataid');
            var rate = $(this).attr('datarate');
            var quota = $(this).attr('dataquota');
            $(".resetRateDiv form input[name='id']").val(uid);
            $(".resetRateDiv form input[name='quota']").val(quota);
            $(".resetRateDiv form input[name='rate']").val(rate);
            layer.open({
                type: 1,
                shade: false,
                title: false,
                content: $(".resetRateDiv")
            });
        });
        $(".delUser").on('click', function () {
            var uid = $(this).attr('dataid');
            layer.confirm('确定要删除该会员吗？', {
                btn: ['确定', '取消']
            }, function () {
                $.ajax({
                    url: "{:U('User/delUser')}",
                    type: 'get',
                    data: {
                        id: uid
                    },
                    success: function (data) {
                        if (!data.status) {
                            layer.msg("删除失败!");
                        } else {
                            layer.msg("删除会员成功!");
                            location.reload();
                        }
                    }
                });
            });
        });
    });
    function changeStatus() {
        $(".resetStatusDiv form").ajaxSubmit({
            success: function (data) {
                if (!data.status) {
                    layer.msg(data.info);
                } else {
                    layer.msg("操作成功!");
                    $('.resetStatusDiv').attr('style', 'display:none');
                    location.reload();
                }
            }
        });
        return false;
    }

    function changeRate() {
        $(".resetRateDiv form").ajaxSubmit({
            success: function (data) {
                if (!data.status) {
                    layer.msg(data.info);
                } else {
                    layer.msg("操作成功!");
                    $('.resetRateDiv').attr('style', 'display:none');
                    location.reload();
                }
            }
        });
        return false;
    }


    jQuery(function ($) {
        var oTable1 = $('#sample-table-2').dataTable({
            "aoColumns": [
                {"bSortable": false},
                null, null, null, null, null, null, null,null,null,
                {"bSortable": false}
            ]
        });


        $('table th input:checkbox').on('click', function () {
            var that = this;
            $(this).closest('table').find('tr > td:first-child input:checkbox')
                .each(function () {
                    this.checked = that.checked;
                    $(this).closest('tr').toggleClass('selected');
                });

        });


        $('[data-rel="tooltip"]').tooltip({placement: tooltip_placement});
        function tooltip_placement(context, source) {
            var $source = $(source);
            var $parent = $source.closest('table')
            var off1 = $parent.offset();
            var w1 = $parent.width();

            var off2 = $source.offset();
            var w2 = $source.width();

            if (parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2)) return 'right';
            return 'left';
        }
    })
</script>


<div class="resetStatusDiv" style="display: none;min-width: 300px;">
    <form class="layui-form" action="{:U('User/resetStatus')}" method="post" onsubmit="return changeStatus();">
        <input type="hidden" name="id" value="">
        <div class="layui-form-item">
            <label class="layui-form-label">状态</label>
            <div class="layui-input-block">
                <input type="radio" name="status" value="1" title="正常">
                <input type="radio" name="status" value="0" title="风控">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="">提交修改</button>
            </div>
        </div>
    </form>
</div>

<div class="resetRateDiv" style="display: none;min-width: 300px;margin-top: 15px;">
    <form class="layui-form" action="{:U('User/resetRate')}" method="post" onsubmit="return changeRate();">
        <input type="hidden" name="id" value="">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">贷款额度</label>
                <div class="layui-input-inline">
                    <input type="text" name="quota" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">用户日息</label>
                <div class="layui-input-inline">
                    <input type="text" name="rate" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="">提交修改</button>
            </div>
        </div>
    </form>
</div>

</body>
</html>
