<!DOCTYPE html>
<html lang="zh-CN">
	<head>
	    <include file="Public/head" />
	    <title>{:C('site_title')}</title>
	    <script src="/Public/js/jquery.form.js"></script>
		<link rel="stylesheet" href="/Public/css/feedback.css" />
	</head>
	<body>
	<div class="head">
		<a href="{:U('User/index')}" class="back">
			<i class="fa fa-angle-left"></i>
		</a>
		<span>信息认证</span>
	</div>
		<a href="{:U('Auth/info')}">
			<li class="auth_item">
				<div class="auth_item_icon">
					<i class="fa fa-info-circle fa-2x fa-fw icon-b"></i>
				</div>
				<div class="auth_item_title">
					个人基本情况
				</div>
<if condition="$status['info']">
				<div class="auth_item_status auth_status_true">
					<span>已填写</span>
					<i class="fa fa-angle-right"></i>
				</div>
<else />
				<div class="auth_item_status">
					<span>未填写</span>
					<i class="fa fa-angle-right"></i>
				</div>
</if>
			</li>
		</a>


<!--个人工作-->
		<a href="{:U('Auth/work')}">
			<li class="auth_item">
				<div class="auth_item_icon">
					<i class="fa fa-info fa-2x fa-fw icon-b"></i>
				</div>
				<div class="auth_item_title">
					个人工作情况
				</div>
				<if condition="$status['work']">
					<div class="auth_item_status auth_status_true">
						<span>已填写</span>
						<i class="fa fa-angle-right"></i>
					</div>
					<else />
					<div class="auth_item_status">
						<span>未填写</span>
						<i class="fa fa-angle-right"></i>
					</div>
				</if>
			</li>
		</a>



	<!--紧急联系人-->
	<a href="{:U('Auth/relation')}">
		<li class="auth_item">
			<div class="auth_item_icon">
				<i class="fa fa-mobile fa-2x fa-fw icon-b"></i>
			</div>
			<div class="auth_item_title">
				紧急联系人
			</div>
			<if condition="$status['relation']">
				<div class="auth_item_status auth_status_true">
					<span>已填写</span>
					<i class="fa fa-angle-right"></i>
				</div>
				<else />
				<div class="auth_item_status">
					<span>未填写</span>
					<i class="fa fa-angle-right"></i>
				</div>
			</if>
		</li>
	</a>


	<!--身份认证-->
	<a href="{:U('Auth/idcard')}">
		<li class="auth_item">
			<div class="auth_item_icon">
				<i class="fa fa-user fa-2x fa-fw icon-b"></i>
			</div>
			<div class="auth_item_title">
				身份认证
			</div>
			<if condition="$status['idcard']">
				<div class="auth_item_status auth_status_true">
					<span>已认证</span>
					<i class="fa fa-angle-right"></i>
				</div>
				<else />
				<div class="auth_item_status">
					<span>去认证</span>
					<i class="fa fa-angle-right"></i>
				</div>
			</if>
		</li>
	</a>


		<!--手机认证  立木-->
		<a href="{:U('Auth/mobile')}">
			<li class="auth_item">
				<div class="auth_item_icon">
					<i class="fa fa-mobile fa-2x fa-fw icon-b"></i>
				</div>
				<div class="auth_item_title">
					手机认证
				</div>
				<if condition="$status['mobile']">
					<div class="auth_item_status auth_status_true">
						<span>已认证</span>
						<i class="fa fa-angle-right"></i>
					</div>
					<else />
					<div class="auth_item_status">
						<span>去认证</span>
						<i class="fa fa-angle-right"></i>
					</div>
				</if>
			</li>
		</a>

		<a href="{:U('Auth/bank')}">
			<li class="auth_item">
				<div class="auth_item_icon">
					<i class="fa fa-bank fa-2x fa-fw icon-b"></i>
				</div>
					<div class="auth_item_title">
					银行卡认证
				</div>
				<if condition="$status['bank']">
					<div class="auth_item_status auth_status_true">
						<span>已认证</span>
						<i class="fa fa-angle-right"></i>
					</div>
					<else />
					<div class="auth_item_status">
						<span>去认证</span>
						<i class="fa fa-angle-right"></i>
					</div>
				</if>
			</li>
		</a>

       


		<div style="margin-top: 10px;margin-left: 20px;">
			<h6>提示</h6>
			<h6>请务必提交真实的客户信息，若多次提交虚假信息，您的账号会被禁用。</h6>
			<a href="{:U('Index/index')}"><button class="btn_borrow">申请贷款</button></a>
		</div>
		<include file="Public/foot" />
	</body>

</html>