<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<include file="Public/head" />
	<title>{:C('site_title')}</title>
	<script src="__PUBLIC__/js/jquery.form.js"></script>
	<link rel="stylesheet" href="__PUBLIC__/css/feedback.css" />
	<style>
		.info_li input{
			font-size: 14px;
			float: right;
		}
		.reg_Btn{
			border: none;
		}
		.refer_mobile{
			text-align: center;
			background-color: #fff;
			min-height: 200px;
		}
		.refer_mobile i{
			line-height: 70px;
		}
	</style>
</head>
<body>

<div class="head">
	<a href="javascript:history.go(-1);" class="back">
		<i class="fa fa-angle-left"></i>
	</a>
	<span>手机认证</span>
	<!--<a href="javascript:;" class="submit">提交</a>-->
</div>

<if condition="$data['status'] eq 0">
	<div id="querys">
		<div class="auth_info" >
			<form action="{:U('Auth/mobile')}" method="post" id="mobileForm">
				<ul>
					<li class="info_li">
						<span>真实姓名</span>
						<input type="text" name="name" id="name" placeholder="真实姓名" readonly value="{$idcard.name}">
					</li>
					<li class="info_li">
						<span>身份证号</span>
						<input type="text" name="idcard" id="idcard" placeholder="身份证号" readonly value="{$idcard.idcard}">
					</li>
					<li class="info_li">
						<span>手机号码</span>
						<input type="text" name="phone" id="phone" placeholder="手机号码" value="{$user.mobile}">
					</li>
					<li class="info_li">
						<span>服务密码</span>
						<input type="password" name="passwd" id="passwd" placeholder="手机服务密码">
					</li>
				</ul>
			</form>
		</div>
		<button class="reg_Btn" onclick="querysubmit();" id="submitBtn">提交</button>
	</div>
</if>
<if condition="$data['status'] eq 1">
	<div class="refer_mobile">

		<br>
		<span>恭喜您，已完成运营商认证。</span>
		<button class="reg_Btn">重新认证</button>
	</div>
</if>
<if condition="$data['status'] eq 2">
	<div id='searcherror'  class="refer_mobile">
		<i class="fa fa-minus-circle fa-3x"></i>
		<br>
		<span>非常抱歉，认证未通过。</span>
		<button class="reg_Btn">重新验证</button>
	</div>
</if>

<div id="smscodes" style="display:none">
	<div class="auth_info">
		<form action="{:U('Auth/mobile_smscode')}" method="post" id="mobileForms">
			<ul>
				<li class="info_li">
					<span>短信验证码</span>
					<input type="hidden" name="token" id="token" />
					<input type="text" name="smscode" id="smscode" placeholder="手机收到的短信验证码">
				</li>
			</ul>
		</form>
	</div>
	<button class="reg_Btn" id="submitBtns" onclick="validataSmsCode();">提交验证码</button>
</div>
<div id="endsearch" style="display:none;">
	<div class="refer_mobile">

		<br>
		<span>恭喜您，已完成运营商认证。</span>
		<button class="reg_Btn">重新认证</button>
	</div>

</div>
<div id="endsearch1" style="display:none;">
	<div class="refer_mobile">

		<br>
		<span>不要离开，系统正在备份数据...</span>
		<button class="reg_Btn">重新验证</button>
	</div>

</div>
<div id="beginsearch1" class="refer_mobile" style="display:none">

	<br>
	<span>您已经提交运营商认证。</span>
	<br>
	<span>验证码已经提交，请耐心等待！</span>
</div>
<div id="beginsearch" class="refer_mobile" style="display:none">

	<br>
	<span>您已经提交运营商认证。</span>
	<br>
	<span>请耐心等待...不要离开本页</span>
</div>

<script>
    function showsmscode(){
        $('#beginsearch').hide();
        $('#smscode').show();
    }
    $(function(){
        $(".refer_mobile .reg_Btn").on('click',function(){
            window.location.href = "{:U('Auth/mobile',array('reset'=>1))}";
        });
    });
    function querysubmit() {
        layer.open({
            type:2,
            shadeClose:false,
            content:'请耐心等待认证,不要离开本页',
        });
        var phone = $('#phone').val();
        var passwd = $('#passwd').val();
        var name = $('#name').val();
        var idcard = $('#idcard').val();

        $.post("{:U('Auth/mobile')}", {
            'phone' : phone,
            'passwd' : passwd,
            'name' : name,
            'idcard' : idcard,
            'loginType':'normal'
        }, function(data) {
            if(data.status==0){
                layer.closeAll();
                layer.open({
                    content:data.info,
                    skin:'msg',
                    time:3
                });
                return false;
            }else{
                processData(data);
            }

        });
    }
    function processData(data){

        if(data.code == "0010"){
            // alert(data.code);
            console.log(data.code);
            token = data.token;
            $("#token").val(token);
            //进入轮询
            Httppost("{:U('Auth/ajax_mobile')}",{token:token});
        }

        if(data.code == undefined || data.code == "") {
            return false;
        }
        if(data.code == "0100"){
            console.log(data.code);
            return false;
        }
        if(data.code == '2999'){
            console.log(data.code);
            //2999其他错误，经常出现。所以做一个特殊判断
            //重新提交
            var accountVal = $('#username').val();
            var passwordVal = $('#password').val();
            $.post("{:U('Auth/mobile')}", {
                'username' : accountVal,
                'password' : passwordVal,
                'loginType':'normal'
            }, function(data) {
                // alert(data.code);
                processData(data);
            });
            return true;
        }

        if("" != data.code && 0 != data.code.indexOf('0')){//异常清空定时器
            layer.closeAll();
            alert('异常code=' + data.token + " = " + data.msg);
            return true;
        }

        //发送请求成功
        if(data.code=='1102'){
            //手机密码不正确1
            console.log(data.code);
            layer.closeAll();
            layer.open({
                content:"手机号或者密码错误，请重新输入！",
                skin:'msg',
                time:3
            });
            return true;
        }

        if(data.code=='2017'){
            //查询次数过多
            console.log(data.code);
            layer.closeAll();
            layer.open({
                content:"查询次数过多,请稍后再试！",
                skin:'msg',
                time:3
            });
            return true;
        }


        if(data.code=='2027'){
            //身份证信息不正确
            console.log(data.code);
            layer.closeAll();
            layer.open({
                content:"身份证信息有误,请核实！",
                skin:'msg',
                time:3
            });
            return true;
        }

        if(data.code=='2008'){
            //身份证信息不正确
            console.log(data.code);
            layer.closeAll();
            layer.open({
                content:"短信验证码有误，请重新认证！",
                skin:'msg',
                time:3
            });
            return true;
        }

        if(data.code=='0200'){
            //报告生成成功
            console.log(data.code);
            layer.closeAll();
            layer.open({
                content:"认证成功！",
                skin:'msg',
                time:3
            });
            location.href="{:U('Auth/index')}";
            return true;
        }


        if(data.code == "0006"){
            console.log(data.code);
            layer.closeAll();
            $('#smscodes').show();
            $('#querys').hide();
            layer.open({
                content:"请输入手机验证码！",
                skin:'msg',
                time:3
            });

            return true;
        }else if(data.code == '0000'){
            console.log(data.code);
            layer.closeAll();
            layer.open({
                content:"数据准备成功，请等待数据输入！",
                skin:'msg',
                time:3
            });
            $('#smscodes').hide();
            $('#querys').hide();
            $('#endsearch').show();
            return true;

        }
        console.log(data.code);
        return true;
    }

    //验证短信验证码
    function validataSmsCode(){
        //检验空
        var v = $('#smscode').val();
        if(""==v.replace(/(^\s+)|(\s+$)/g,"")) {

            $('#smscode').addClass('error');
            layer.open({
                content:"验证码不能为空！",
                skin:'msg',
                time:3
            });

            return false;
        }

        $.post("{:U('Auth/mobile_smscode')}", {
            'smscode' : $('#smscode').val(),
            'token' : $('#token').val()
        }, function(data) {
            if('0009' == data.code)
            {
                //写入成功
                //继续轮询
                layer.open({
                    type:2,
                    shadeClose:false,
                    content:'请耐心等待认证,不要离开本页'
                });
                Httppost("{:U('Auth/ajax_mobile')}",{token:token});
            }else {
                layer.closeAll();
                layer.open({
                    content:data.msg + "请重新认证。",
                    skin:'msg',
                    time:3
                });
            }

        });

    }

    function Httppost(url,post){
        setTimeout(function() {
            $.post(url, post, function (data) {
                console.log(processData(data));
                if(!processData(data)) {
                    Httppost(url, post);
                }
            }, "json");
        },1000);
    }
</script>
<include file="Public/foot" />
</body>
</html>