<!DOCTYPE html>
<html lang="zh-CN">
	<head>
	    <include file="Public/head" />
	    <title>{:C('site_title')}</title>
	    <script src="/Public/js/jquery.form.js"></script>
		<link rel="stylesheet" href="/Public/css/feedback.css" />
		<style>
		.auth_item{
			border-top: 1px solid #EDEDED;
			border-bottom: none;
			line-height: 38px;
		}
		.info_li input{
			font-size: 14px;
		}
		.auth_item_title{
			margin-left: 12px;
		}
		</style>
		<link rel="stylesheet" href="/Public/js/LArea/LArea.css">
		<script src="/Public/js/LArea/City.js"></script>
		<script src="/Public/js/LArea/Live.js"></script>
	    <script src="/Public/js/LArea/LArea.js"></script>
	    <script src="/Public/js/LArea/MonthSalary.js"></script>
	</head>
	<body>
		<div class="head">
			<a href="{:U('Auth/index')}" class="back">
				<i class="fa fa-angle-left"></i>
			</a>
			<span>个人工作情况</span>
			<!--<a href="javascript:;" class="submit">提交</a>-->
		</div>

		<div class="auth_info">
			<form action="{:U('Auth/work')}" method="post">
				<ul>
					<li class="info_li">
						<span>从事行业</span>
						<input type="text" placeholder="如：餐饮业" name="work_industry" value="{$data.work_industry}">
					</li>
					<li class="info_li">
						<span>工作岗位</span>
						<input type="text" placeholder="如：服务员/店长/美发师" name="work_posts" value="{$data.work_posts}">
					</li>
					<li class="info_photo_li" style="line-height: 50px;height: 50px;margin: 13px 0">
						<span class="text_bg">单位名称</span>
						<textarea name="work_name" rows="2" class="address" placeholder="如：北京智融时代餐饮管理有限公司">{$data.work_name}</textarea>
					</li>
					<li class="info_li">
						<span>单位地址</span>
						<input type="text" name="work_city" id="city" value="{$data.work_city}" readonly>
						<div class="auth_item_status auth_status_true">
							<i class="fa fa-angle-right"></i>
						</div>
					</li>
					<li class="info_photo_li" style="line-height: 50px;height: 50px;margin: 13px 0">
						<span class="text_bg">详细地址</span>
						<textarea name="work_address" rows="2" class="address" placeholder="如：西城区城方街32号1栋16层302室">{$data.work_address}</textarea>
					</li>
					<li class="info_li">
						<span>单位电话</span>
						<input type="text" placeholder="(选填)如：010-66194000" name="work_tel" value="{$data.work_tel}">
					</li>
					<li class="info_li">
						<span>月　　薪</span>
						<input type="text" name="month_salary" id="month_salary" value="{$data.month_salary}" readonly>
						<div class="auth_item_status auth_status_true">
							<i class="fa fa-angle-right"></i>
						</div>
					</li>
				</ul>

				<div class="info_alert">
					<p class="info_alert_title">温馨提示</p>
					<div>
						<span>
							1.保证隐私安全，不会与您所在单位联系
						</span>
						<br>
						<span>
							2.请根据您实际情况如实填写
						</span>
					</div>
				</div>
				<button class="btn_borrow submit" onClick="return false;" >提交</button>
			</form>
		</div>
		<script>
			var area1 = new LArea();
		    area1.init({
		        'trigger': '#city',
		        'valueTo': '',
		        'keys': {
		            id: 'id',
		            name: 'name'
		        }, //绑定数据源相关字段 id对应valueTo的value属性输出 name对应trigger的value属性输出
		        'type': 1, //数据源类型
		        'data': LAreaData //数据源
		    });
		    area1.value=[0,0,0];

            var area2 = new LArea();
            area2.init({
                'trigger': '#month_salary',
                'valueTo': '',
                'keys': {
                    id: 'id',
                    name: 'name'
                }, //绑定数据源相关字段 id对应valueTo的value属性输出 name对应trigger的value属性输出
                'type': 1, //数据源类型
                'data': MonthSalaryData //数据源
            });
            area2.value=[0,0];

		    $(function(){
		    	$(".submit").on('click',function(){
		    		$(".auth_info form").ajaxSubmit({
		    			success:function(data){
		    				if(!data.status){
		    					layer.open({
		    						content:data.info,
		    						skin:'msg',
		    						time:3
		    					});
		    					return ;
		    				}
							layer.open({
								content:'保存成功!',
								skin:'msg',
								time:2
							});
							setTimeout(function(){
								window.location.href = "{:U('Auth/index')}";
							},2000);
		    			}
		    		});
		    	});
		    });
		</script>
		<include file="Public/foot" />
	</body>
</html>