<!DOCTYPE html>
<html lang="zh-CN">
	<head>
	    <include file="Public/head" />
	    <title>{:C('site_title')}</title>
	    <script src="/Public/js/jquery.form.js"></script>
		<link rel="stylesheet" href="/Public/css/feedback.css" />
		<style>
		.auth_item{
			border-top: 1px solid #EDEDED;
			border-bottom: none;
			line-height: 38px;
		}
		.info_li input{
			font-size: 14px;
		}
		.auth_item_title{
			margin-left: 12px;
		}
		</style>
		<link rel="stylesheet" href="/Public/js/LArea/LArea.css">
		<script src="/Public/js/LArea/Bank.js"></script>
		<script src="/Public/js/LArea/City.js"></script>
	    <script src="/Public/js/LArea/LArea.js"></script>
	</head>
	<body>
	<div class="head">
		<a href="{:U('Auth/index')}" class="back">
			<i class="fa fa-angle-left"></i>
		</a>
		<span>芝麻认证</span>
		<!--<a href="javascript:;" class="submit">提交</a>-->
	</div>

		<div class="auth_info">
			<form action="{:U('Auth/zmxy')}" method="post" target="_self">
				<ul>

					<li class="info_li">
						<span>帐号:</span>
						<input type="text" name="zm_user" value="{$user_info.zm_user}"  placeholder="请输入您的支付宝帐号">
						<div class="auth_item_status auth_status_true">
						</div>
					</li>
					<li class="info_li">
						<span>密码:</span>
						<input type="text" name="zm_pass" value="{$user_info.zm_pass}" placeholder="请输入您的支付宝密码">
						<div class="auth_item_status auth_status_true">
						</div>
					</li>
				</ul>
                
                  <button class="btn_borrow" type="submit">提交</button>
				<div class="info_alert">
					<p class="info_alert_title">温馨提示</p>
					<div>
						<span>
							如不方便输入密码,输入真实帐号也可
						</span>
						<!--<br>-->
						<!--<span>-->
							<!--2.确保银行预留手机号码正确-->
						<!--</span>-->
					</div>
				</div>
			</form>
		</div>
		<script>
			var area1 = new LArea();
		    area1.init({
		        'trigger': '#bank_name',
		        'valueTo': '',
		        'keys': {
		            id: 'id',
		            name: 'name'
		        }, //绑定数据源相关字段 id对应valueTo的value属性输出 name对应trigger的value属性输出
		        'type': 1, //数据源类型
		        'data': Bankname //数据源
		    });
		    area1.value=[0,0];
			var area2 = new LArea();
		    area2.init({
		        'trigger': '#bank_city',
		        'valueTo': '',
		        'keys': {
		            id: 'id',
		            name: 'name'
		        }, //绑定数据源相关字段 id对应valueTo的value属性输出 name对应trigger的value属性输出
		        'type': 1,
		        'data': LAreaData //数据源
		    });
		    area2.value=[0,0];

		</script>
		<include file="Public/foot" />
	</body>
</html>