<include file="Public/iframe_head"/>


<div class="page-content">

    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-header">
                        平台数据统计
                    </div>

                    <div class="table-responsive">
                        <table id="sample-table-2" class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>申请人数</th>
								<th>放款人数</th>
								<th>逾期人数</th>
								<th>借款金额</th>
								<th>放款金额</th>
								<th>还款金额</th>
								<th>逾期金额</th>
								<th>累计逾期费用</th>
								<th>未到期金额</th>
								<th>打款完成</th>
                            </tr>
                            </thead>

                            <tbody>

                            <!--数据start-->
                                <tr>
                                   <td>
										{$data.loans}
									</td>
									<td>
										{$data.f_loans}
									</td>
									<td>
										{$data.yu_people}
									</td>
									<td>
										{$data.jie_money|sprintf="%.2f",###} 元
									</td>
									<td>
										{$data.f_money|sprintf="%.2f",###} 元
									</td>
									<td>
										{$data.h_money|sprintf="%.2f",###} 元
									</td>
									<td>
										{$data.yu_money|sprintf="%.2f",###} 元
									</td>
									<td>
										{$data.yu_fei|sprintf="%.2f",###} 元
									</td>
									<td>
										{$data.wei_money|sprintf="%.2f",###} 元
									</td>
									<td>
										{$data.w_money|sprintf="%.2f",###} 元
									</td>

                                </tr>
                           
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->

<script type="text/javascript">
    layui.use('form', function () {
        var form = layui.form();
    });

    $(function () {

    jQuery(function ($) {
        var oTable1 = $('#sample-table-2').dataTable({
            "aoColumns": [
                {"bSortable": false},
                null, null, null, null,
                {"bSortable": false}
            ]
        });


        $('table th input:checkbox').on('click', function () {
            var that = this;
            $(this).closest('table').find('tr > td:first-child input:checkbox')
                .each(function () {
                    this.checked = that.checked;
                    $(this).closest('tr').toggleClass('selected');
                });

        });


        $('[data-rel="tooltip"]').tooltip({placement: tooltip_placement});
        function tooltip_placement(context, source) {
            var $source = $(source);
            var $parent = $source.closest('table')
            var off1 = $parent.offset();
            var w1 = $parent.width();

            var off2 = $source.offset();
            var w2 = $source.width();

            if (parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2)) return 'right';
            return 'left';
        }
    })
</script>

</body>
</html>
