<include file="Public/iframe_head"/>
<script src="/Public/assets/dist/echarts.js"></script>

<div class="page-content">

    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-header">
                        当日数据统计
                    </div>

                    <div class="table-responsive">
                        <table id="sample-table-2" class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>申请人数</th>
								<th>通过笔数</th>
								<th>放款金额</th>
								<th>到期笔数</th>
								<th>到期金额</th>
								<th>到期已还款笔数</th>
								<th>到期已还款金额</th>
								<th>到期未还款笔数（逾期）</th>
								<th>到期未还款金额（逾期）</th>
								<th>打款完成</th>
                            </tr>
                            </thead>

                            <tbody>

                            <!--数据start-->
                                <tr>
                                   <td>
										{$data.loans}
									</td>
									<td>
										{$data.f_loans}
									</td>
									<td>
										{$data.f_money|sprintf="%.2f",###} 元
									</td>
									<td>
										{$data.d_nums}
									</td>
									<td>
										{$data.d_money|sprintf="%.2f",###} 元
									</td>
									<td>
										{$data.dh_nums}
									</td>
									<td>
										{$data.dh_money|sprintf="%.2f",###} 元
									</td>
									<td>
										{$data.w_nums}
									</td>
									<td>
										{$data.w_money|sprintf="%.2f",###} 元
									</td>
									<td>
										{$data.dk_money|sprintf="%.2f",###} 元
									</td>
                                </tr>
                           
                            </tbody>
                        </table>
                    </div>
					
					 <!--实时交易记录-->
					<div class="clearfix">
						<div class="t_Record">
							<div id="main" style="height:450px; overflow:hidden; width:100%; overflow:auto"></div>
						</div>
			
					</div>
									
                </div>
            </div>


        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->


    <script type="text/javascript">
        $(document).ready(function () {

            $(".t_Record").width($(window).width() - 320);
            //当文档窗口发生改变时 触发
            $(window).resize(function () {
                $(".t_Record").width($(window).width() - 320);
            });
        });


        require.config({
            paths: {
                echarts: '/Public/assets/dist'
            }
        });
        require(
            [
                'echarts',
                'echarts/theme/macarons',
                'echarts/chart/line',   // 按需加载所需图表，如需动态类型切换功能，别忘了同时加载相应图表
                'echarts/chart/bar'
            ],
            function (ec, theme) {
                var myChart = ec.init(document.getElementById('main'), theme);
                option = {
                    title: {
                        text: '逾期率图表',
                        subtext: '逾期率'
                    },
                    tooltip: {
                        trigger: 'axis'
                    },
                    legend: {
                        data: ['当日逾期笔数', '累计逾期笔数', '当日逾期率', '累计逾期率']
                    },
                    toolbox: {
                        show: true,
                        feature: {
                            mark: {show: true},
                            dataView: {show: true, readOnly: false},
                            magicType: {show: true, type: ['line', 'bar']},
                            restore: {show: true},
                            saveAsImage: {show: true}
                        }
                    },
                    calculable: true,
                    xAxis: [
                        {
                            type: 'category',
                            data: ['今日']
                        }
                    ],
                    yAxis: [
                        {
                            type: 'value'
                        }
                    ],
                    series: [
                        {
                            name: '当日逾期笔数',
                            type: 'bar',
                            data: [{$data.yu_day_nums}],
                            markPoint: {
                                data: [
                                    {type: 'max', name: '最大值'},
                                    {type: 'min', name: '最小值'}
                                ]
                            }
                        },
                        {
                            name: '累计逾期笔数',
                            type: 'bar',
                            data: [{$data.yu_count}],
                            markPoint: {
                                data: [
                                    {type: 'max', name: '最大值'},
                                    {type: 'min', name: '最小值'}
                                ]
                            },


                        }
                        , {
                            name: '当日逾期率',
                            type: 'bar',
                            data: [{$data.yu_per}],
                            markPoint: {
                                data: [
                                    {type: 'max', name: '最大值'},
                                    {type: 'min', name: '最小值'}
                                ]
                            },

                        }
                        , {
                            name: '累计逾期率',
                            type: 'bar',
                            data: [{$data.yu_all_per}],
                            markPoint: {
                                data: [
                                    {type: 'max', name: '最大值'},
                                    {type: 'min', name: '最小值'}
                                ]
                            },

                        }
                    ]
                };

                myChart.setOption(option);
            }
        );
    </script>



<script type="text/javascript">
    layui.use('form', function () {
        var form = layui.form();
    });

    $(function () {

    jQuery(function ($) {
        var oTable1 = $('#sample-table-2').dataTable({
            "aoColumns": [
                {"bSortable": false},
                null, null, null, null,
                {"bSortable": false}
            ]
        });


        $('table th input:checkbox').on('click', function () {
            var that = this;
            $(this).closest('table').find('tr > td:first-child input:checkbox')
                .each(function () {
                    this.checked = that.checked;
                    $(this).closest('tr').toggleClass('selected');
                });

        });


        $('[data-rel="tooltip"]').tooltip({placement: tooltip_placement});
        function tooltip_placement(context, source) {
            var $source = $(source);
            var $parent = $source.closest('table')
            var off1 = $parent.offset();
            var w1 = $parent.width();

            var off2 = $source.offset();
            var w2 = $source.width();

            if (parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2)) return 'right';
            return 'left';
        }
    })
</script>

</body>
</html>
