<include file="Public/iframe_head"/>

<php>
    $status=array(
    0=>'等待审核',
    1=>'等待还款',
    2=>'还款完成',
    3=>'已拒绝',
    4=>'已还款'
    );
    $datamap=array(
    0=>array(
    0=>0
    ),
    1=>array(
    0=>1,
    1=>2
    ),
    2=>array(
    0=>3
    ),
    4=>array(
    1=>2
    )
    );
</php>
<div class="page-content">

    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-header">
                        借款记录
                    </div>

                    <div class="table-responsive">
                        <table id="sample-table-2" class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th class="center">
                                    <label>
                                        <input type="checkbox" class="ace"/>
                                        <span class="lbl"></span>
                                    </label>
                                </th>
                                <th>ID</th>
                                <th>订单号</th>
                                <th>姓名</th>
                                <th>推荐码</th>
                                <th class="hidden-480">借款金额</th>
                                <th>
                                    <i class="icon-time bigger-110 hidden-480"></i>
                                    借款期限
                                </th>
                                <th class="hidden-480">
                                    <i class="icon-time bigger-110 hidden-480"></i>
                                    申请时间
                                </th>
                                <th>订单状态</th>
                                <th>手续费</th>
                                <th>放款金额</th>
                                <th><i class="icon-time bigger-110 hidden-480"></i>放款时间</th>
                                <th><i class="icon-time bigger-110 hidden-480"></i>应还时间</th>
                                <th><i class="icon-time bigger-110 hidden-480"></i>还款时间</th>
                                <th><i class="icon-time bigger-110 hidden-480"></i>逾期</th>
                                <th>逾期费用</th>
                                <th>备注</th>
                                <th>操作</th>
                            </tr>
                            </thead>

                            <tbody>

                            <!--数据start-->
                            <volist name="lists" id="vo">
                                <tr>
                                    <td class="center">
                                        <label>
                                            <input type="checkbox" class="ace"/>
                                            <span class="lbl"></span>
                                        </label>
                                    </td>

                                    <td>
                                        <a href="#">{$vo.id}</a>
                                    </td>
                                    <td>{$vo.oid}</td>
                                    <td>{$vo.name}</td>
                                    <td>{$vo.recommend}</td>
                                    <td class="hidden-480">{$vo.money}</td>
                                    <td>
                                        <span class="label label-warning">{$vo.day} 天</span>
                                    </td>
                                    <td class="hidden-480">
                                        <span class="label label-warning">{$vo.create_time|date="Y-m-d",###}</span>
                                    </td>
                                    <td>
                                        <switch name="vo.borrow_status">
											<case value="0"><span class="label label-primary">等待审核</span></case>
											<case value="1"><span class="label label-danger">等待还款</span></case>
											<case value="2"><span class="label label-warning">已拒绝</span></case>
											<case value="4"><span class="label label-success">还款完成</span></case>
											<default />
										</switch>
                                    </td>
                                    <td>
                                        {$vo.fee}
                                    </td>
                                    <td>
                                        <if condition="$vo.review_money eq 0">----
                                            <else/>
                                            {$vo.review_money}
                                        </if>
                                    </td>
                                    <td class="hidden-480">
                                        <if condition="$vo.review_time eq 0">----
                                            <else/>
                                            <span class="label label-warning">{$vo.review_time|date="Y-m-d",###}</span>
                                        </if>
                                    </td>
                                    <td class="hidden-480">
                                        <if condition="$vo.review_time eq 0">----
                                            <else/>
                                            <span class="label label-warning">{$vo['review_time']+$vo['day']*24*3600|date="Y-m-d",###}</span>
                                        </if>
                                    </td>
                                    <td class="hidden-480">
                                        <if condition="$vo.payment_time eq 0">----
                                            <else/>
                                            <span class="label label-warning">{$vo.payment_time|date="Y-m-d",###}</span>
                                        </if>
                                    </td>
                                    <td>
                                        <if condition="$vo.review_time eq 0">----
                                            <else/>
                                            <if condition="($vo.yq egt 0) && (($vo.borrow_status eq 1) || ($vo.borrow_status eq 4))"><span
                                                    style="color: #ff0000">{$vo['yq']} 天</span>
                                                <else/>
                                                未逾期
                                            </if>
                                        </if>
                                    </td>
                                    <td>
                                        <if condition="$vo.review_time eq 0">----
                                            <else/>
                                            <if condition="($vo.yq egt 0) && (($vo.borrow_status eq 1)||  ($vo.borrow_status eq 4))"><span
                                                    style="color: #ff0000">{$vo['yq']*nl_get_customConfig('yu_money')*$vo['money']/100|sprintf='%.2f',###}</span>
                                                <else/>
                                                ----
                                            </if>
                                        </if>
                                    </td>
                                    <td>{$vo.review_note}</td>
                                    <td>
                                        <div class="visible-md visible-lg hidden-sm hidden-xs btn-group">

                                            <if condition="authCheck('Admin/Loan/delLoan',session(C('ADMIN_INFO'))['id'])">
                                                <a class="btn btn-xs btn-danger delLoan" title="删除"
                                                   dataid="{$vo.id}">
                                                    <i class="icon-trash bigger-120">删除</i>
                                                </a>
                                            </if>

                                        </div>

                                    </td>
                                </tr>
                            </volist>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->

<script type="text/javascript">
    layui.use('form', function () {
        var form = layui.form();
    });

    $(function () {

        $(".delLoan").on('click', function () {
            var uid = $(this).attr('dataid');
            layer.confirm('确定要删除该订单吗？', {
                btn: ['确定', '取消']
            }, function () {
                $.ajax({
                    url: "{:U('Loan/delLoan')}",
                    type: 'get',
                    data: {
                        id: uid
                    },
                    success: function (data) {
                        if (!data.status) {
                            layer.msg("删除失败!");
                        } else {
                            layer.msg("删除订单成功!");
                            location.reload();
                        }
                    }
                });
            });
        });
    });


    jQuery(function ($) {
        var oTable1 = $('#sample-table-2').dataTable({
            "aoColumns": [
                {"bSortable": false},
                null, null, null, null, null, null, null, null, null, null, null, null, null, null,null,null,
                {"bSortable": false}
            ]
        });


        $('table th input:checkbox').on('click', function () {
            var that = this;
            $(this).closest('table').find('tr > td:first-child input:checkbox')
                .each(function () {
                    this.checked = that.checked;
                    $(this).closest('tr').toggleClass('selected');
                });

        });


        $('[data-rel="tooltip"]').tooltip({placement: tooltip_placement});
        function tooltip_placement(context, source) {
            var $source = $(source);
            var $parent = $source.closest('table')
            var off1 = $parent.offset();
            var w1 = $parent.width();

            var off2 = $source.offset();
            var w2 = $source.width();

            if (parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2)) return 'right';
            return 'left';
        }
    })
</script>


<div class="resetStatusDiv" style="display: none;min-width: 300px;">
    <form class="layui-form" action="{:U('User/resetStatus')}" method="post" onsubmit="return changeStatus();">
        <input type="hidden" name="id" value="">
        <div class="layui-form-item">
            <label class="layui-form-label">状态</label>
            <div class="layui-input-block">
                <input type="radio" name="status" value="1" title="正常">
                <input type="radio" name="status" value="0" title="风控">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="">提交修改</button>
            </div>
        </div>
    </form>
</div>

<div class="resetRateDiv" style="display: none;min-width: 300px;margin-top: 15px;">
    <form class="layui-form" action="{:U('User/resetRate')}" method="post" onsubmit="return changeRate();">
        <input type="hidden" name="id" value="">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">贷款额度</label>
                <div class="layui-input-inline">
                    <input type="text" name="quota" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">用户日息</label>
                <div class="layui-input-inline">
                    <input type="text" name="rate" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="">提交修改</button>
            </div>
        </div>
    </form>
</div>

</body>
</html>
