<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <include file="Public/head"/>
    <title>{:C('site_title')}</title>
    <script src="/Public/js/jquery.form.js"></script>
    <link rel="stylesheet" href="/Public/css/feedback.css"/>
    <style>
        .user_login {
            background-color: #fff;
            margin-top: 10px;
        }

        body {
            background-color: #fff;
        }
        .low{
			color:red;
		}
    </style>
</head>
<body>
<div class="head">
    <a href="javascript:history.back(-1)" class="back">
        <i class="fa fa-angle-left"></i>
    </a>
    <span> 还款渠道</span>
</div>
<div class="hk_main" style="width: 100%;">
	<div class="hk" style="width: 100%;align-items: center;border: 1px solid deepskyblue;">
		<?php 
				$user_info=D('');
		?>
		<p>尊敬的客户您:&nbsp;需要还款总额(<span class="low">{:session('money')}</span>)</p>
			<p>支付宝还款账户：<span class="low">1159691847@qq.com</span> </p> 
			<p>收款人：易贷钱包(*春霖)</p>		
			<p>微信还款账户：<span class="low">zrjr5168</span></p>
			<p>联系客服：<span class="low">4000861696</span></p>
			<p>备注：请认真核实备注借款人手机及姓名</p>
			<p>方便我们替您入账还款</p>
			
			<img src="__PUBLIC__/img/121.png" style="width: 340px;height: 340px;"/>
		</div>
</div>
		


</div>

<script>
  
</script>

<include file="Public/foot"/>
</body>
</html>
