<?php session_start();?>
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <include file="Public/head"/>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{:C('site_title')}</title>
    <link rel="stylesheet" href="/Public/css/feedback.css"/>
    <link rel="stylesheet" href="/Public/plugins/layui/css/layui.css">
    <script src="/Public/plugins/layui/layui.js"></script>
    <style>
        .info_li .title {
            color: #999999;
            float: left;
        }

        .login_Btn2 {
            background-color: #40A0D4;
            border-radius: 3px;
            color: #fff;
            display: block;
            font-size: 24px;
            height: 40px;
            line-height: 40px;
            margin: 25px auto;
            text-align: center;
            width: 90%;
        }

        .login_Btn3 {
            background-color: #40A0D4;
            border-radius: 3px;
            color: #fff;
            display: block;
            font-size: 16px;
            height: 60px;
            margin: 25px auto;
            padding: 8px 0;
            text-align: center;
            width: 90%;
        }

    </style>
</head>
<body>
<div class="auth_info">

    <li class="info_li">
        <span class="title">订单号</span>
        <span class="cont">{$borrow.oid}</span>
    </li>
    <li class="info_li">
        <span class="title">借款金额</span>
        <span class="cont">{$borrow.money}元</span>
    </li>
    <li class="info_li">
        <span class="title">借款期限</span>
        <span class="cont">{$borrow.day}天</span>
    </li>
    <li class="info_li">
        <span class="title">手续费用</span>
        <span class="cont">{$borrow.fee}元</span>
        <!-- <i class="fa fa-info-circle fa-2x fa-fw icon-b" style="font-size: 18px;" onclick="show_money()"></i> -->
    </li>
    <li class="info_li">
        <span class="title">到账银行</span>
        <span class="cont">{$borrow.bank}</span>
    </li>
    <li class="info_li">
        <span class="title">到账金额</span>
        <span class="cont">{$borrow.review_money}元</span>
    </li>
    <li class="info_li">
        <span class="title">申请时间</span>
        <span class="cont">
                    {$borrow.create_time|date="Y-m-d",###}
                </span>
    </li>
    <li class="info_li">
        <span class="title">审核时间</span>
        <span class="cont">
                    {$borrow.create_time|date="Y-m-d",###}
                </span>
    </li>
    <li class="info_li">
        <span class="title">应还时间</span>
        <span class="cont">
                    {$borrow['create_time']+$borrow['day']*24*3600|date="Y-m-d",###}
                </span>
    </li>
    
    <if condition="$borrow['borrow_status'] eq 1">
        

        
        <if condition="$borrow.expire_days gt 0">
            <li class="info_li">
                <span class="title">逾期情况</span>
                <span class="cont">
                    {$borrow.expire_days}天
                </span>
            </li>
        </if>
        
        <?php
                $_SESSION['yu_money']=sprintf('%.2f',$borrow['expire_days']*nl_get_customConfig('yu_money')*$borrow['money']/100);
                if($_SESSION['yu_money']>$borrow['money']*nl_get_customConfig('yu_max_money')){
                    $_SESSION['yu_money']=$borrow['money'];
                }
                
                if($_SESSION['yu_money']<0){
                    $_SESSION['yu_money']=0;
                }
                
                $_SESSION['money']=sprintf('%.2f',($borrow['money']+$_SESSION['yu_money']));
                $_SESSION['oid']=$borrow['oid'];
                $_SESSION['borrow_money']=$borrow['money'];
                $_SESSION['day']=$borrow['day'];
                ?>

        <if condition="$borrow.expire_days gt 0">
            <li class="info_li">
                <span class="title">逾期费用</span>
                <span class="cont">
                    <?php
                        echo $_SESSION['yu_money'];
                        ?>元
                </span>
            </li>
        </if>


        <if condition="($borrow.borrow_status eq 1) AND ($borrow.payment_status neq 1)">
            <div>
                
                <button class="login_Btn2" onclick="pay()">我要还款</button>
                <!-- <button class="login_Btn2" onclick="xu()">我要续期</button> -->
                <h6 class="login_Btn3"><br/>
                    恭喜您审核通过！
                </h6>
                <!--<h5 style="text-align: center">-->
                <!--{$borrow.review_note}-->
                <!--</h5>-->
            </div>
            <else/>
            <div>
                <button class="login_Btn2">已还款</button>
                <h6 class="login_Btn3">有借有还,再借不难！我们将给您更高的额度
                    <p>逾期还款将会影响您的个人征信，请保持良好的个人信用。</p>
                </h6>
            </div>
        </if>

        <elseif condition="$borrow.borrow_status eq 2"/>
        <if condition="$borrow.review_time neq 0">
            <li class="info_li">
                <span class="title">审核时间</span>
                <span class="cont">
                    {$borrow.review_time|date="Y-m-d H:i:s",###}
                </span>
            </li>
        </if>
        <p class="info_alert_title" style="color:red">
            <if condition="$borrow.borrow_status eq 0 ">等待审核</if>
            <if condition="$borrow.borrow_status eq 1 ">等待还款</if>
            <if condition="$borrow.borrow_status eq 2 ">已拒绝</if>
            <if condition="$borrow.borrow_status eq 4 ">还款完成</if>
        </p>
        <div class="info_alert">
            <p class="info_alert_title">温馨提示</p>
            <div>
                <h6 class="login_Btn3"><br/>因综合信用评分不足，申请暂未通过！</h6>

                <h5 style="text-align: center">
                    {$borrow.review_note}
                </h5>
            </div>
        </div>
        <elseif condition="$borrow.borrow_status eq 4"/>
        <li class="info_li">
            <span class="title">审核时间</span>
            <span class="cont">
                    {$borrow.review_time|date="Y-m-d H:i:s",###}
                </span>
        </li>
        <li class="info_li">
            <span class="title">还款时间</span>
            <span class="cont">
                    {$borrow.payment_time|date="Y-m-d H:i:s",###}
                </span>
        </li>
        <div>
            <button class="login_Btn2">已还款</button>
            <h6 class="login_Btn3">有借有还,再借不难！我们将给您更高的额度
                <p>逾期还款将会影响您的个人征信，请保持良好的个人信用。</p>
            </h6>
        </div>
        <else/>
        <div class="info_alert">
            <p class="info_alert_title">温馨提示</p>
            <div>
                <h6 class="login_Btn3">
                    您的贷款订单已提交成功,请等待系统审核!
                </h6>
            </div>
        </div>
    </if>

</div>

<!--还款-->
<div class="payFor" style="display: none;min-width: 350px;">
    <a href="javascript:;" onclick="callpay()">
        <div class="layui-form-item" style="margin-top: 10px;min-height:60px;line-height:60px;">
            <img src="/Public/img/weixin.png" alt="">
        </div>
    </a>

    <hr/>

    <a href="{:U('Loan/lianlian')}">
        <div class="layui-form-item" style="margin-top: 10px;min-height:60px;line-height:60px;">
            <img src="/Public/img/yinlian.jpg" alt="">
        </div>
    </a>
</div>

<!--续期-->
<div class="payXu" style="display: none;min-width: 350px;">
    <a href="javascript:;" onclick="callpay2()">
        <div class="layui-form-item" style="margin-top: 10px;min-height:60px;line-height:60px;">
            <img src="/Public/img/weixin.png" alt="">
        </div>
    </a>

    <hr/>

    <a href="{:U('Loan/lianlianxuqi')}">
        <div class="layui-form-item" style="margin-top: 10px;min-height:60px;line-height:60px;">
            <img src="/Public/img/yinlian.jpg">
        </div>
    </a>
</div>

<include file="Public/foot"/>
</body>
<script>
    layui.use('form', function () {
        var form = layui.form();
    });
    function pay() {
        location.href="{:U('Loan/lianxikefu')}";
        
    }

    function xu() {
        location.href="{:U('Loan/lianlianxuqi')}";
        return false;
        layer.open({
            type: 1,
            shade: false,
            title: "请选择付款方式",
            content: $(".payXu")
        });
    }
    
    function show_money(){
                layer.open({
                    content: "<h4>审核管理费:{$borrow.shenhe}元</h4><h4>借款管理费:{$borrow.jiekuan}元</h4><h4>利息:{$borrow.lixi}元</h4>"
                    ,btn: '我知道了'
                });
            
            }

    //调用微信JS api 支付
//    function jsApiCall() {
//        WeixinJSBridge.invoke(
//            'getBrandWCPayRequest',{$jsApiParameters},
//            function (res) {
//                //支付成功程序位置
//                //alert(JSON.stringify(res));
//                if (res.err_msg == "get_brand_wcpay_request:ok") {
//                    alert('支付成功！');
//                    window.location.href = "{:C('site_url')}"+"Home/Loan/lists";
//                } else if (res.err_msg == "get_brand_wcpay_request:cancel") {
//                    alert('已取消支付');
//                    window.location.href = "{:C('site_url')}"+"Home/Loan/lists";
//                } else {
//                    //返回跳转到订单详情页面
//                    alert('支付失败');
//                    window.location.href = "{:C('site_url')}"+"Home/Loan/lists";
//                }
//            }
//        );
//    }
//
//    function callpay() {
//        if (typeof WeixinJSBridge == "undefined") {
//            if (document.addEventListener) {
//                document.addEventListener('WeixinJSBridgeReady', jsApiCall, false);
//            } else if (document.attachEvent) {
//                document.attachEvent('WeixinJSBridgeReady', jsApiCall);
//                document.attachEvent('onWeixinJSBridgeReady', jsApiCall);
//            }
//        } else {
//            jsApiCall();
//        }
//    }
//
//
//
//    //调用微信JS api 续期
//    function jsApiCall2(re) {
//      //alert(re);
//        WeixinJSBridge.invoke(
//            'getBrandWCPayRequest',
//          {
//              "appId":re.appId,
//              "nonceStr":re.nonceStr,
//              "package":re.package,
//              "paySign":re.paySign,
//              "signType":re.signType,
//              "timeStamp":re.timeStamp
//          }
//          ,
//            function (res) {
//                //支付成功程序位置
//                //alert(JSON.stringify(res));
//                if (res.err_msg == "get_brand_wcpay_request:ok") {
//                    alert('续期成功！');
//                    window.location.href = "{:C('site_url')}"+"Home/Loan/lists";
//                } else if (res.err_msg == "get_brand_wcpay_request:cancel") {
//                    alert('已取消支付');
//                    window.location.href = "{:C('site_url')}"+"Home/Loan/lists";
//                } else {
//                    //返回跳转到订单详情页面
//                    alert('续期失败');
//                    window.location.href = "{:C('site_url')}"+"Home/Loan/lists";
//                }
//            }
//        );
//    }
//
//
//    function callpay2() {
//        var oid = "{$oid}";
//        $.ajax({
//            type:"get",
//            url:"{:U('Loan/view')}",
//            cache:false,
//            async:false,
//            dataType:"json",
//            data:{oid:oid},
//            success:function (res) {
//          //alert(JSON.stringify(res));
//                if (typeof WeixinJSBridge == "undefined") {
//                    if (document.addEventListener) {
//                        document.addEventListener('WeixinJSBridgeReady', jsApiCall, false);
//                    } else if (document.attachEvent) {
//                        document.attachEvent('WeixinJSBridgeReady', jsApiCall);
//                        document.attachEvent('onWeixinJSBridgeReady', jsApiCall);
//                    }
//                } else {
//                    jsApiCall2(res);
//                }
//
//
//            }
//        });
//
//    }


</script>


</html>