<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{:C('site_title')}</title>
    <script src="/Public/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript">

        //调用微信JS api 支付
        function jsApiCall() {
            console.log(rmsg);
            WeixinJSBridge.invoke(
                'getBrandWCPayRequest',"{:R('Loan/getmsg')}",
                function (res) {
                    //支付成功程序位置
                    if (res.err_msg == "get_brand_wcpay_request:ok") {
                        alert('支付成功！');
                        window.location.href = "{:C('site_url')}"+"Home/Loan/lists";
                    } else if (res.err_msg == "get_brand_wcpay_request:cancel") {
                        alert('已取消支付');
                        window.location.href = "{:C('site_url')}"+"Home/Loan/lists";
                    } else {
                        //返回跳转到订单详情页面
                        alert('支付失败');
                        window.location.href = "{:C('site_url')}"+"Home/Loan/lists";
                    }
                }
            );
        }

        function callpay() {
                if (typeof WeixinJSBridge == "undefined") {
                    if (document.addEventListener) {
                        document.addEventListener('WeixinJSBridgeReady', jsApiCall, false);
                    } else if (document.attachEvent) {
                        document.attachEvent('WeixinJSBridgeReady', jsApiCall);
                        document.attachEvent('onWeixinJSBridgeReady', jsApiCall);
                    }
                } else {
                    jsApiCall();
                }
          }

    </script>
</head>
<body>
<br/>


<font color="#000"><b>订单名称:<span style="color:#000;font-size:22px">{$order_name}</span></b></font><br/><br/>
<font color="#000"><b>订单价格:<span style="color:#000;font-size:22px">{$price}元</span></b></font><br/><br/>

<div align="center">
    <button style="width:210px; height:50px; border-radius: 15px;background-color:#9ACD32; border:0px #9ACD32 solid; cursor: pointer;  color:white;  font-size:16px;"
            type="button" onClick="callpay()">立即支付
    </button>
</div>
</body>
</html>